*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-color : #009e57;
  --inputs-border : rgb(80, 80, 80);
}

.App{
  display: flex;
  flex-direction: column;
  align-items: left;
  text-transform: uppercase;
  
}

.all-item-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dane-img{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #77f0ba;
}

.dane-container{
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 20px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  border: 2px solid whitesmoke;
  box-shadow: 5px 10px 20px 4px rgb(71, 70, 70);
  gap: 40px;
}

.dane-client {
  text-align: center;
}

.dane-client i{
  margin-top: 20px;
  margin: 10px;
}

.fa-circle-user{
  margin: 20px;
}

.dane-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  background-color: red;
  color:white;
  
}

.dane-buttons button{
  background-color: white;
  color:black;
  transition: 300ms ease;
}


.dane-buttons button:hover{
  transform: scale(1.1);
  color:white;
  background: #2a9b39;
background: linear-gradient(90deg, rgba(42, 155, 57, 1) 0%, rgba(5, 255, 13, 1) 64%, rgba(83, 237, 183, 1) 100%);

}



.sprawdzenie{
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.rozpatrzona{
  background: #020024;
  background: linear-gradient(90deg, #1092b0 0%, #3a47d5 100%);
}


.dane{
  margin: 30px;
}


.dane-firmy h2{
  padding: 10px;
  padding-left: 30px;
  background-color: var(--main-color);
  text-transform: uppercase;
   
}

.dane-firmy{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.dane-firmy p{
  padding-left: 30px
}

img{
  margin: 30px auto;
}




input{
  margin: 10px;
  padding: 5px;
  transition: 0.7s ease;
  border:none;
  border-bottom: 1px solid rgb(0, 0, 0);
}

input:hover{
  background-color: rgb(134, 134, 134);
  color:white;
  
}

button{
  width: max-content;
  padding: 10px;
  background-color: rgb(49, 49, 245);
  color:white;
  border: none;
  border-radius: 10px;
  margin: 10px;
  transition: 0.6s ease;
  cursor: pointer;
  transition: 1s ease;
}

button:hover{
  background-color: rgb(0, 0, 134);
}

textarea{
  border-radius: 10px;
  padding: 10px;
  width:auto;
  height: 100px;
}



.inputCheck{
  background-color: #009e57;
  padding: 10px;
}

.filter-container{
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}

.filter-container input{
  border: 2px solid ;
  border-color: var(--inputs-border);
}



.alert-dodano{
  position: relative;
  left:auto;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  width: 400px;
  align-items: center;
  background-color: #009e57;
  color: white;
  border:2px solid black;
  animation-name: myAnimation;
  animation-duration: 2s;
  
}

.dodano{
  left: -100vw;
}

@keyframes myAnimation {

  0%{
    transform: translateX(-100vw);
  }

  100%{
    transform: translateX(0px);
  }
  
}




