*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-color : #009e57;
  --inputs-border : rgb(80, 80, 80);
}

.App{
  display: flex;
  flex-direction: column;
  align-items: left;
  text-transform: uppercase;
  
}

.dane-container{
  margin: 20px;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap:100px;
}

.dane-head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  background-color: red;
  color:white;
  
}

.sprawdzenie{
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.rozpatrzona{
  background-color: var(--main-color);
}

/* .dane{
  margin-left: 30px;
} */

.wszystkie-dane-container{
  background-color: aquamarine;
}

.dane{
  margin: 30px;
}


.dane-firmy h2{
  padding: 10px;
  padding-left: 30px;
  background-color: var(--main-color);
  text-transform: uppercase;
   
}

.dane-firmy{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.dane-firmy p{
  padding-left: 30px
}

img{
  margin: 30px auto;
}




input{
  margin: 10px;
  padding: 5px;
  transition: 0.7s ease;
  border:none;
  border-bottom: 1px solid rgb(0, 0, 0);
}

input:hover{
  background-color: rgb(134, 134, 134);
  color:white;
  
}

button{
  width: max-content;
  padding: 10px;
  background-color: rgb(49, 49, 245);
  color:white;
  border: none;
  border-radius: 10px;
  margin: 10px;
  transition: 0.6s ease;
  cursor: pointer;
}

button:hover{
  background-color: rgb(0, 0, 134);
}

textarea{
  border-radius: 10px;
  padding: 10px;
  width:auto;
  height: 100px;
}



.inputCheck{
  background-color: #009e57;
  padding: 10px;
}

.filter-container{
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}

.filter-container input{
  border: 2px solid ;
  border-color: var(--inputs-border);
}



.alert-dodano{
  position: relative;
  left:auto;
  margin-left: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  width: 400px;
  align-items: center;
  background-color: #009e57;
  color: white;
  border:2px solid black;
  animation-name: myAnimation;
  animation-duration: 2s;
  
}

.dodano{
  left: -100vw;
}

@keyframes myAnimation {

  0%{
    transform: translateX(-100vw);
  }

  100%{
    transform: translateX(0px);
  }
  
}




