*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.sprawdzenie{
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.dane-firmy{
  
}

.dane-reklamacji{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reklamacja-container , .zglaszajacy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  transition: 0.8s ease;
}

textarea{
  border-radius: 10px;
  padding: 10px;
  width: 15vw;
  height: 200px;
}

input:hover{
  background-color: gray;
  color:white;
  border: 2px solid rgb(28, 255, 85);
}

.dane-kontaktowe{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}