*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-color : rgb(32, 130, 32);
}

.App{
  display: flex;
  flex-direction: column;
  align-items: left;
  text-transform: uppercase;
  
}

.sprawdzenie{
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.dane{
  margin-left: 30px;
}

.dane{
  margin: 30px;
}


.dane-firmy h2{
  padding: 10px;
  padding-left: 30px;
  background-color: var(--main-color);
  text-transform: uppercase;
   
}

.dane-firmy{
  display: flex;
  flex-direction: column;
}

.dane-firmy p{
  padding-left: 30px
}




input{
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  transition: 0.8s ease;
}

textarea{
  border-radius: 10px;
  padding: 10px;
  width:auto;
  height: 100px;
}

input:hover{
  background-color: gray;
  color:white;
  border: 2px solid rgb(28, 255, 85);
}

